<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/default}">

<div id="page" layout:fragment="content">
    <div class="container">
        <div class="mt-5">
            <div class="text-center hero my-5">
                <img class="mb-3 app-logo" src="/images/logo.png" alt="Spring logo" width="120"/>
                <h1 class="mb-4">HTML and Java </h1>
                <p class="lead">
                    Logic than Python but not boring like C#.
                </p>
            </div>

            <hr/>

                <div class="row">
                    <div class="col-md-5 mb-4">
                        <h6 class="mb-3">
                            <a href="https://auth0.com/docs/anomaly-detection">
                                <i class="fas fa-link mr-2"> Anomaly Detection</i>
                            </a>
                        </h6>
                        <p>Auth0 can detect anomalies and stop malicious attempts to access your application. </p>
                    </div>

                    <div class="col-md"></div>

                    <div class="col-md-5 mb-4">
                        <h6 class="mb-3">
                            <a href="https://auth0.com/docs/rules">
                                <i class="fas fa-link mr-2"> Learn About Rules</i>
                            </a>
                        </h6>
                        <p>Rules are HTML functions that execute when a user authenticates to your application. </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</html>

  